@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main_section_categories{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_wrapper{
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
    
}

.general_knowlege_btn{
    width: 280px;
    height: 100px;
    background-color: #fa6400;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.general_knowlege_btn:hover{
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}

.history_btn{
    background-color: rgb(146, 94, 58);
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    width: 280px;
    height: 100px;
}

.history_btn:hover{
    background-color: rgb(172, 94, 58);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}

.sports_btn{
    width: 280px;
    height: 100px;
    background-color: rgb(59, 173, 95);
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.sports_btn:hover{
    background-color: rgb(59, 195, 95);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}

.second_wrapper{
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
    margin-top: 50px;
    
}

.geography_btn{
    width: 280px;
    height: 100px;
    background-color: #82c5d6;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.geography_btn:hover{
    background-color: #82cbdd;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}

.animals_btn{
    width: 280px;
    height: 100px;
    background-color: #01539d;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}


.animals_btn:hover{
    background-color: #0153bd;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}

.vehicles_btn{
    width: 280px;
    height: 100px;
    background-color: #efbf75;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.vehicles_btn:hover{
    background-color: #efbf95;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}


.third_wrapper{
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
    margin-top: 50px;
    
}

.art_btn{
    width: 280px;
    height: 100px;
    background-color: #c85f1b;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.art_btn:hover{
    background-color: #c85f2c;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}

.movies_btn{
    width: 280px;
    height: 100px;
    background-color: #9d1f35;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.movies_btn:hover{
    background-color: #9d1f49;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}

.music_btn{
    width: 280px;
    height: 100px;
    background-color: #a52177;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.music_btn:hover{
    background-color: #a5217d;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-3px);
    transition-duration: 500ms;
}


.fourth_wrapper{
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
    margin-top: 50px; 
}












.button-5 {
  align-items: center;
  background-clip: padding-box;
  
  
  
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
